*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    font-family: 'Newsreader', serif;
}
.container{
    border: double 5px blue;
    width: 80%;
    margin: auto;
    padding:1%;

}
.resume{
    text-align: center;
    width: 100%;
} 
.mainsec{
    display: flex;
    width: 100%;
}
ul{
    list-style: none;
}
.about{
    width: 70%;
    padding: 3%;
}
.myimg{
    width: 30%;
}
img{
    width: 80%;
    height: 90%;
    min-width: 100px;
    padding: 10%;
    opacity: 0.7;
}
.hrline{
    padding-left: 5%;
    padding-right: 5%;
}
.heading{
    padding-left: 3%;
}
.cont{
    padding-left: 4%;
    padding-right: 4%;
    line-height: 1.5;
}
table,th,td{
    border: solid 1px black;
    border-collapse: collapse;
    padding: 2%;
    text-align: center;
}
.edutable{
    padding-left: 15%;
    padding-right: 15%;
}
.skillset{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.skills{
    padding: 1%;
    display: flex;
}
.lang{
    width: 40%;
    padding-left: 3%;
}
.prgs{
    width: 60%;
}
progress{
    width: 80%;
}
.title{
    display: flex;
    line-height: 1.5;  
}
.projdetails{
    display: flex;
}
.projcont{
    padding-right: 4%;
    line-height: 1.5;
}

.perdetails{
    width: 70%;
    margin: auto;
    
}
.details{
    display: flex;
    line-height: 1.5;
}
.first{
    width: 30%;
}
.last{
    width: 70%;
}
.decla{
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.5;
}
.declaname{
    display: flex;
    
}
.place{
    width: 50%;
    padding-left: 15%;
}
.decname{
    width: 50%;
    padding-left: 20%;
    padding-right: 10%;
}

.section:hover{
    /* background-color:blanchedalmond; */
    font-size:large;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: anime 10s ease infinite;
       
}
.section2:hover{
    /* background-color: blanchedalmond; */
    font-size:large;
    font-style: italic;
    font-weight: bold;
    animation-name:anime;
    /* animation-duration: 10s;
    animation-delay: 0.5s; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: anime 10s ease infinite;
}
.section3:hover{
    /* background-color: blanchedalmond; */
    font-size:large;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: anime 10s ease infinite;
    
}
.section4:hover{
    /* background-color:blanchedalmond; */
    font-size:large;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: anime 10s ease infinite;
    
}
.section5:hover{
    /* background-color: blanchedalmond; */
    font-size:large;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: anime 10s ease infinite;
    
}
.section6:hover{
    /* background-color: blanchedalmond; */
    font-size:large;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: anime 10s ease infinite;
    
}
.section7:hover{
    /* background-color:rgb(125, 194, 255); */
    font-size:large;
    font-style: italic;
    font-weight: bold;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: anime 5s ease infinite;  
}
.heading :hover{
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
.resume :hover{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}
.myimg :hover{
    width: 85%;
    height: 95%;
    opacity: 1;
}
@keyframes anime{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
